<!DOCTYPE html>
<html>
  <head>
    <title>Bandramp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script type="text/javascript">
        window.bandrampLogoURL = "<%= image_url('bandramp_logo.png') %>"
        window.bandrampLogoDarkURL = "<%= image_url('bandramp_logo_bw.png') %>"
   </script>
    <%= favicon_link_tag asset_path("bandramp_favicon.png") %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
